#{extends 'main.html' /}
#{set title:'Detalhes' /}
<iframe align="right" src="@{Estacoes.mapa(estacao.id)}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i>Detalhes da Estação</div>
            <div class="card-body">
                <div class="form-group">
                    ID: ${estacao?.id}
		</div>
		<div class="form-group">
                    Nome: ${estacao?.nome}
		</div>
		<div class="form-group">
                    Localização: <a target="_new" href="http://maps.google.com/maps?f=q&q=${estacao?.latitude},${estacao?.longitude}">${estacao?.latitude},${estacao?.longitude}</a>
		</div>
                <div class="form-group">
                    Chave: ${estacao?.chave}
		</div>
                <a href="@{Estacoes.editar(estacao.id)}">
                    <button class="btn btn-primary btn-block">
                        <i class="fa fa-edit"> Editar</i>
                    </button>
                    </a><br>
                <a href="@{Estacoes.remover(estacao.id)}">
                    <button class="btn btn-danger btn-block">
                        <i class="fa fa-trash"> Remover</i>
                    </button>
                </a><br>
                <a href="@{Estacoes.listar}">
                    <button class="btn btn-warning btn-block">
                        <i class="fa fa-list"> Listar</i>
                    </button>
                </a><br>
                
	</div>
</div>
     <table class="table dataTable" id="">
       <thead>
        
         <th rowspan="1" colspan="1">Data - Hora</th>
         <th rowspan="1" colspan="1">Temperatura</th>
         <th rowspan="1" colspan="1">Umidade</th>
         <th rowspan="1" colspan="1">Velocidade</th>
         <th rowspan="1" colspan="1">Pressão</th>
       </thead>
       <tbody>
	#{list items:registros, as:'registro'}
		<tr role="row">
        
           <td>${registro.datahora}</td>
           <td>${registro.temperatura}</td>
           <td>${registro.umidade}</td>
           <td>${registro.velocidade}</td>
           <td>${registro.pressao}</td>
         </tr>
	#{/list}
	</tbody>
    </table>