#{extends 'main.html' /}
#{set title:'Listar Estações' /}

<div class="card mb-3">
 <div class="card-header">
   <i class="fa fa-table"></i>Listagem de Estaçoes</div>
 <div class="card-body">
    
     <table class="table dataTable" id="dataTable">
       <thead>
         <tr><th rowspan="1" colspan="1">#ID</th>
         <th rowspan="1" colspan="1">Nome</th>
         <th rowspan="1" colspan="1">Status</th>
         <th>Ações</th>
       </thead>
       <tbody>
	#{list items:estacoes, as:'estacao'}
		<tr role="row">
           <td>${estacao.id}</td>
           <td>${estacao.nome}</td>
           <td>${estacao.status}</td>
           <td>
                        
               <a href="@{Estacoes.detalhes(estacao.id)}">
                   <button class="btn btn-sm btn-info">
                       <i class="fa fa-user">Detalhes</i>
                   </button>
                </a>               
                <a href="@{Estacoes.editar(estacao.id)}">
                    <button class="btn btn-sm btn-success">
                        <i class="fa fa-edit">Editar</i>
                    </button>
                </a>
            </td>
         </tr>
	#{/list}
	</tbody>
    </table>
  </div>
</div>
