#{extends 'layout.html' /}
#{set title:'Login no Sistema' /}

<div class="card mb-3">
	  <div class="card-header">
	    <i class="fa fa-table"></i>Recuperação de Senha</div>
	  <div class="card-body">
          
		<form action="@{Application.recuperaSenha()}" method="post">
                    <div class="form-group">
                        <label for="nome">E-mail:</label>
			<input class="form-control" id="email" type="email" value="${login?.email}" name="login.email">
                    </div>
                    <input class="btn btn-success btn-block" type="submit" value="Recuperar Senha">
                   
		</form>
	</div>
</div>